<section class="about" id="about_us">
  <div class="container about__container">
    <div class="about__image">
      <picture>
         <source srcset="/img/desktop/desktop-team-@1x.png 1x, /img/desktop/desktop-team-@2x.png 2x"
             media="(min-width: 1440px)" />
          <source srcset="/img/tablet/tablet-team-@1x.png 1x, /img/tablet/tablet-team-@2x.png 2x"
             media="(min-width: 768px)" />
          <img srcset="/img/mobile/mobile-team-@1x.png 1x, /img/mobile/mobile-team-@2x.png 2x"
             src="/img/mobile/mobile-team-@1x.png" alt="ArtistsHub team" />
      </picture>
    </div>
    <div class="about__content">
      <div class="about__logo">
        <svg class="logo-artist-image" width="80" height="80">
          <use href="/img/icons.svg#icon-logo-icon"></use>
        </svg>
      </div>
      <h2 class="about__title">
        About <br />
        <span>ArtistsHub</span>
      </h2>
      <p class="about__text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
