<section class="artists section" id="artists">
  <div class="container">
    <h2 class="artists-title">Artists</h2>
    <h3 class="artists-subtitle">Explore Your New Favorite Artists</h3>

    <ul class="artists-list" id="artists-list" data-page="1"></ul>

    <div class="artists-actions">
      <button class="btn-load-more" id="artists-load-more" type="button">
        Load More
        <svg class="icon-load-more" width="24" height="24" aria-hidden="true">
          <use href="/img/icons.svg#icon-down-arrow-alt"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
