<!-- <svg width="64" height="64">
          <use href="./img/icons.svg#icon-left-arrow-alt"></use>
        </svg> -->
<section class="feedback-section">
  <div class="container">
    <h2>Feedbacks our visitors.</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- *slides* -->
        <div class="swiper-slide">1</div>
        <div class="swiper-slide">2</div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
