<section class="feedback-section">
  <div class="container">
    <h2 class="visually-hidden">Feedbacks our visitors</h2>

    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- slides from feedback.js -->
      </div>
      <div class="swiper-button-prev">
        <button class="custom-swiper-btn-prev">
          <svg width="24" height="24">
            <use href="/img/icons.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
      </div>
      <div class="swiper-button-next">
        <button class="custom-swiper-btn-next">
          <svg width="24" height="24">
            <use href="/img/icons.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
