<header id="header-new">
  <div class="container-header">
    <div class="container">
      <nav class="top-nav">
        <a href="#header-new" class="logo-artists">
          <svg class="logo-artist-image" width="119" height="51">
            <use href="/img/logo.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="top-nav-menu">
          <li class="top-nav-menu-items">
            <a class="top-nav-menu-links" href="#artists">Artists</a>
          </li>
          <li class="top-nav-menu-items">
            <a class="top-nav-menu-links" href="#about_us">about Us</a>
          </li>
          <li class="top-nav-menu-items">
            <a class="top-nav-menu-links" href="#reviews">Reviews</a>
          </li>
        </ul>
        <button type="button" class="burger-button js-burger-menu">
          <svg class="burger-button-logo" width="24" height="24">
            <use href="/img/icons.svg#icon-menu-alt-right"></use>
          </svg>
        </button>
      </nav>
      <div class="top-nav-mobile js-nav-mobile">
        <div class="burger-menu-head">
          <a href="#header-new" class="logo-artists">
            <svg class="logo-artist-image" width="119" height="51">
              <use href="/img/logo.svg#icon-logo"></use>
            </svg>
          </a>
          <button
            type="button"
            class="burger-button burger-button-close js-burger-button-close"
          >
            <svg
              class="burger-button-logo burger-button-close-logo"
              width="24"
              height="24"
            >
              <use href="/img/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <ul class="top-nav-menu top-nav-menu-mobile js-active">
          <li class="top-nav-menu-items top-nav-menu-items-mobile">
            <a
              class="top-nav-menu-links top-nav-menu-links-mobile"
              href="#artists"
              >Artists</a
            >
          </li>
          <li class="top-nav-menu-items top-nav-menu-items-mobile">
            <a
              class="top-nav-menu-links top-nav-menu-links-mobile"
              href="#about_us"
              >About Us</a
            >
          </li>
          <li class="top-nav-menu-items top-nav-menu-items-mobile">
            <a
              class="top-nav-menu-links top-nav-menu-links-mobile"
              href="#reviews"
              >Reviews</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
