<section class="hero-section">
  <div class="hero-container container">
    <div class="hero-content">
      <h1 class="hero-title">
        Discover Your Next <br />
        Favorite Artist Today
      </h1>
      <p class="hero-paragraph">
        Dive into a world of music discoveries with ArtistsHub - your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <button class="hero-btn" onclick="location.href='#artists'">
        Explore Artists
        <svg class="hero-btn-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-outlined-arrow"></use>
        </svg>
      </button>
    </div>
    <!-- <div class="hero-image"> -->
    <picture class="hero-bg">
      <source
        srcset="
          /img/desktop/desktop-hero-@1x.png 1x,
          /img/desktop/desktop-hero-@2x.png 2x
        "
        media="(min-width: 1336px)"
      />
      <source
        srcset="
          /img/tablet/tablet-hero-@1x.png 1x,
          /img/tablet/tablet-hero-@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/mobile/mobile-hero-@1x.png 1x,
          /img/mobile/mobile-hero-@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="/img/mobile/mobile-hero-@1x.jpg" alt="background image hero" />
    </picture>
    <!-- </div> -->
  </div>
</section>
