.about__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.about__image img {
    width: 100%;
}

.about__content {
    width: 100%;
}

.about__logo img {
  width: 40px;
  height: auto;
  display: block;
}


.about__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.2;
}

.about__title span {
    display: block;
}

.about__text {
    font-size: 16px;
    line-height: 1.5;
    color: #ccc;
}


@media (min-width: 768px) {
    .about__container {
        flex-direction: column;
        text-align: left;
        gap: 32px;
    }
    .about__content {
        max-width: 600px;
    }
}

@media (min-width: 1440px) {
    .about__container {
        flex-direction: row;
        align-items: center;
        gap: 60px;
        text-align: left;
    }
    .about__image {
        flex: 1;
    }
    .about__content {
        flex: 1;
        max-width: 500px;
    }
}

.logo-artist-image {
    fill: var(--color-scheme-2-accent);
}