.feedback-section {
    padding: 64px 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.swiper {
  width: 288px;
height: 209px;
background-color: brown;
}
