.feedback-section {
  padding: 64px 0px;
}

.feedback-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 288px;
  height: 253px;
  padding-left: 16px;
  padding-right: 16px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.custom-swiper-btn-prev,
.custom-swiper-btn-next {
  display: none;
}

.feedback-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin: 32px 0;
}

.feedback-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.custom-dot {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: var(--color-scheme-1-text);
  opacity: 0.2;
  border: none;
  pointer-events: none
}

.custom-dot.active {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .feedback-slide {
    max-width: 704px;
    height: 253px;
    padding-left: 93px;
    padding-right: 93px;
  }

  .custom-swiper-btn-prev,
  .custom-swiper-btn-next {
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid var(--opacity-white-50);;
    border-radius: 8px;
	 padding: 12px;
    cursor: pointer;
	 position: absolute;
	 background-color: var(--color-scheme-1-foreground);
	 
  }
  .custom-swiper-btn-next{
	margin-right: 1px;
  }
	.custom-swiper-btn-prev{
	margin-left: 1px;
	}

  .swiper-arrow{
	fill: var(--color-scheme-1-text);
  }
  .feedback-text {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1440px) {
  .feedback-section {
    padding: 112px 0px;
  }
  .feedback-slide {
    max-width: 1312px;
    height: 397px;

    padding-left: 223px;
    padding-right: 223px;
  }
}
