.container-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: var(--color-scheme-1-background);
	padding: 6.5px 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
}

body{
	padding-top: 64px;
}

.logo-artist-image,
.burger-button-logo {
	fill: var(--color-scheme-2-accent);
	transition: 0.3s ease-in-out;
	display: block;
}

.logo-artists:hover .logo-artist-image {
	fill: var(--color-affair);
}

.top-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.top-nav-menu {
	display: flex;
	align-items: center;
	display: none;
}

.top-nav-menu-links {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 26px;
	line-height: 150%;
	color: var(--color-scheme-1-text);
	display: block;
	position: relative;
	transition: 0.3s ease-in-out;
	padding-bottom: 5px;
	text-transform: capitalize;
}

.top-nav-menu-links::after {
	content: "";
	transition: 0.3s ease-in-out;
}

.top-nav-menu-links:hover::after,
.top-nav-menu-links:focus::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-affair);
	border-radius: 2px;

}

.top-nav-menu-links:hover,
.top-nav-menu-links:focus {
	color: var(--color-affair);
}

.burger-button {
	padding: 12px;
	border-radius: 0;
	width: 48px;
	height: 48px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.top-nav-menu-mobile,
.top-nav-mobile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.top-nav-menu-mobile {
	background-color: var(--color-scheme-1-background);
	padding-top: 23px;
}

.burger-menu-head {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.top-nav-mobile {
	display: none;
	position: fixed;
	justify-content: flex-start;
	background-color: var(--color-scheme-1-background);
	top: 0;
	min-width: 295px;
	height: 100%;
	z-index: 1001;
	padding: 6.5px 0 6.5px;
}

.top-nav-menu-items-mobile {
	width: 100%;
}

.top-nav-menu-links-mobile {
	display: block;
	text-align: center;
	padding: 16px;
}

.isActive {
	display: flex;
}

body.lock {
	overflow: hidden;
}

@media only screen and (min-width: 768px) {
	body {
		padding-top: 87px;
	}

	.top-nav-menu {
		display: flex;
		gap: 32px;
	}

	.top-nav-mobile {
		display: none;
	}

	.top-nav-menu-links {
		font-weight: 400;
		font-size: 18px;
	}

	.burger-button {
		display: none;
	}

	.container-header {
		padding: 10.5px 0;
	}
}

